/* .Login{
    background-color: #d4f2d2ff;
} */

.Login_header{
  background-color: #d4f2d2ff;
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  font-family: serif;
  color:#3e6259ff;
}

.Login_form{

    border-bottom: #d4f2d2ff;
    /* min-height: 13vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    font-size: calc(5px + 3vmin);
    /* font-family: serif; */
    color:#3e6259ff;
  }

.input_header{
    border:#3e6259ff;
    border-radius: 40%;
    /* font-family: cursive; */
    font: italic 1.2em "Fira Sans", serif;
}

/* .Login_btn{
    margin: 20;
    padding: 1px 10px;
    
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

} */