.Main_header{
  background-color: #d4f2d2ff;
  min-height: 13vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 3vmin);
  font-family: serif;
  color:#3e6259ff;
}

.Oxygen{
    border: solid 2px #3e6259ff;
    padding: 15px;
    
    /* padding: 5px;
    margin: 5px;
    size: 50px,80px; */
}

.Heartrate{
    border: solid 2px #3e6259ff;
    padding: 15px;
    /* padding-left: 5px;
    margin: 10px; */
}

.HealthSubtitle{
    text-align:center;
    /* margin-left: 30%; */
    background-color: #3e6259ff;
    padding: 8px;
    border-radius: 10px;
    margin-top: 5px;
    font-size:25px;
    position: relative;
    font-family: Palatino;
    color: white;
    display: flex;
    justify-content: center;
}

.SetLimit{
    display: flex;
    font-family: Palatino;
    font-size:25px;
    color: #3e6259ff;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.container2{
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 10px;
}

.Appointment_block{
    border: solid 5px #3e6259ff;
    background-color: rgb(238, 248, 237);
}

.Add_Appointment_header{
    background-color: #d4f2d2ff;
    min-height: 10vh;
    min-width: 10vh;
    display: flex;
    border-radius: 60px;
    width:560px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(13px + 3vmin);
    font-family: serif;
    color:#3e6259ff;
}