.PillName{
    /* font: italic 1em "Fira Sans", serif; */
    margin-top: 7px;
    font-size:35px;
    font-family: Palatino;
    color: #3e6259ff;
}

.PillText{
    /* font: italic 1em "Fira Sans", serif; */
    /* margin-top: 4px; */
    font-family: Georgia;
}

.PillGrid{
    border:  solid 2px  #3e6259ff;
    padding: 2px;
    margin: 20px;
    /* border-dark p-2 m-2 d-flex justify-content-between */
}